footer {
  @extend .container-flex;
  background-color: map-get($colours, secondary);
  height: 60px;
  margin-top: 200px;

  p {
    margin: 0px 50px 0px 50px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
    background-color: map-get($colours, withe);
    padding-top: 20px;
    height: 120px;

    p {
      margin-top: 10px;
    }
  }
}
