nav {
  background-color: map-get($colours, secondary);
  padding: 0px 50px 0px 50px;

  .navbar-toggler {
    border-style: none;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0px;

    ul {
      height: 200px;
      padding-top: 20px;
    }
  }
}
