.square {
  border-radius: 20px;
  background-color: map-get($colours, secondary);
}

.pink-border {
  border-color: map-get($colours, pink);
  border-style: solid;
  border-radius: 20px;
  background-color: map-get($colours, withe);
}

.pink-backgroud {
  border-color: map-get($colours, withe);
  border-style: solid;
  border-radius: 20px;
  background-color: map-get($colours, pink);
}
